<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZUtracking.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GLS_Tracking_Plattform.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ZUtracking.My.MySettings>
            <setting name="localConn" serializeAs="String">
                <value />
            </setting>
            <setting name="remoteConn" serializeAs="String">
                <value />
            </setting>
            <setting name="currentConn" serializeAs="String">
                <value />
            </setting>
            <setting name="curUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="curUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="parity" serializeAs="String">
                <value />
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="handshake" serializeAs="String">
                <value />
            </setting>
            <setting name="writeTimeout" serializeAs="String">
                <value />
            </setting>
            <setting name="readBufferSize" serializeAs="String">
                <value />
            </setting>
            <setting name="writeBufferSize" serializeAs="String">
                <value />
            </setting>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="ignitionTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="batteryTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="geofenceTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="speedTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="motionTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="currentVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="isMainServer" serializeAs="String">
                <value>False</value>
            </setting>
        </ZUtracking.My.MySettings>
        <GLS_Tracking_Plattform.My.MySettings>
            <setting name="localConn" serializeAs="String">
                <value/>
            </setting>
            <setting name="remoteConn" serializeAs="String">
                <value/>
            </setting>
            <setting name="currentConn" serializeAs="String">
                <value/>
            </setting>
            <setting name="curUserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="curUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value/>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value/>
            </setting>
            <setting name="parity" serializeAs="String">
                <value/>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value/>
            </setting>
            <setting name="handshake" serializeAs="String">
                <value/>
            </setting>
            <setting name="writeTimeout" serializeAs="String">
                <value/>
            </setting>
            <setting name="readBufferSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="writeBufferSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="portName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ignitionTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="batteryTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="geofenceTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="speedTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="motionTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="currentVoice" serializeAs="String">
                <value/>
            </setting>
            <setting name="isEnabledForGeofences" serializeAs="String">
                <value>True</value>
            </setting>
        </GLS_Tracking_Plattform.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
